<div class="inferior-container">

    <div class="selector-container">
      <h2>Clientes</h2>

      <!-- Menú desplegable de clientes -->
      <div class="dropdown">
        <div>
          <label for="numCliente">Número de Cliente</label>
          <input type="number" id="numCliente" [(ngModel)]="numCliente" style="width: 15%;"
          (keydown.enter)="seleccionarXnumeroCliente()"
          (blur)="seleccionarXnumeroCliente()">

        </div>

        <div>
          <label for="numPresupuesto">Número de Presupuesto</label>
          <input type="number" id="numPresupuesto" [(ngModel)]="numPresupuesto" style="width: 15%;"
          (keydown.enter)="seleccionarXnumeroPresupuesto(numPresupuesto!)"
          (blur)="seleccionarXnumeroPresupuesto(numPresupuesto!)">
        </div>

        <!-- Selector de cliente -->
        <mat-form-field class="input-mat-cliente" appearance="outline" style="width: 100%;">
          <mat-label>Seleccione un cliente...</mat-label>
          <input type="text"
                 matInput
                 [formControl]="clienteControl"
                 [matAutocomplete]="autoCliente"
                 (input)="clienteControl.setValue(clienteControl.value?.toUpperCase(), { emitEvent: false })">
          <mat-autocomplete #autoCliente="matAutocomplete" autoActiveFirstOption (optionSelected)="seleccionarCliente();">
            <mat-option *ngFor="let c of filteredClientes | async" [value]="c.razonSocial">
              {{ c.razonSocial }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <!-- Datos cliente y selector horizontal -->
    <div class="datosCliente-container" *ngIf="currentCliente">
      <h3>Selecciona un presupuesto de</h3>
      <h3>{{currentCliente.razonSocial}}</h3>

      <mat-form-field appearance="outline">
        <mat-label>Presupuesto</mat-label>
        <mat-select [(value)]="presupuestoSeleccionado" (selectionChange)="asignarNumeroDePresupuesto($event.value)">
          <mat-option *ngFor="let presupuesto of presupuestosXCliente" [value]="presupuesto">
            {{ presupuesto ? (presupuesto.id + ' -- ' + formatearFecha(presupuesto.fecha)) : 'None' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      

      <div *ngIf="presupuestoSeleccionado">
        <p><strong>Id:</strong> {{ presupuestoSeleccionado.id }}</p>
        <p><strong>Fecha:</strong> {{ formatearFecha(presupuestoSeleccionado.fecha) }}</p>
        <p><strong>Cliente:</strong> {{ currentCliente.razonSocial }}</p>
        <p><strong>Teléfono:</strong> {{ currentCliente.telefono }}</p>
        <p><strong>I.V.A:</strong> {{ currentCliente.condicionFiscal?.descripcion }}</p>
        <p><strong>CUIT:</strong> {{ currentCliente.cuit }}</p>
          </div>
        </div>
      </div>


    <div *ngIf="presupuestoSeleccionado" style="display: flex; gap: 16px; align-items: center;">
    
      <button class="btn-azul" (click)="accederAPresupuesto()">Modificar</button>
      <button class="btn-azul" (click)="seleccionarPresupuesto()">Separar</button>
    </div>
    

