/* Este contenedor alinea los botones a los extremos */
.boton-container {
  display: flex;
  justify-content: space-between; /* separa los botones */
  align-items: center;
  padding: 0 5%; /* margen lateral opcional */
  margin-top: 20px;
}

.boton-container button {
  min-width: 180px;
}
  
  .boton-seleccionarPresupuesto {
    display: inline-flex;
  }
  
  .boton-lindo {
    font-size: 90%;
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: none;
  }
  
  /* Estilo para el botón azul */
  .azul:hover {
    background-color: #020749; /* Azul oscuro al pasar el mouse */
  }
  
  .rojo:hover {
    background-color: #8B0000; /* Rojo oscuro al pasar el mouse */
  }
  
  .boton-lindo mat-icon {
    margin-right: 8%;
  }

/* CONTENEDORES DE CONTENIDO */
.superior-container {
  margin-bottom: 5%;
}
  
  .selector-container {
    width: 40%;
    height: 100%;
    margin-left: 0%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

  .inferior-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
   }

   .selector-horizontal {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  
  .selector-horizontal mat-form-field {
    flex: 1;
  }

/* BOTONES DE ACCIÓN */

.btn-azul {
  margin-top: 5%;
  background-color: #003366; /* azul oscuro */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  width: 10%; /* mismo ancho fijo para ambos */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-azul:hover {
  background-color: #001f4d; /* más oscuro al pasar el mouse */
}

