<mat-vertical-stepper [linear]="true" #stepper [animationDuration]="'500ms'">

    <!-- Paso 1: Obligatorios -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Datos obligatorios</ng-template>
        <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Razón Social</mat-label>
              <input matInput formControlName="razonSocial">
            </mat-form-field>
          
            <mat-form-field appearance="fill">
              <mat-label>Teléfono</mat-label>
              <input matInput formControlName="telefono">
            </mat-form-field>
          </div>
          
        <div>
          <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Siguiente</button>
        </div>
      </form>
    </mat-step>
  
    <!-- Paso 2: Opcionales -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Datos opcionales</ng-template>
        <div class="form-row">

        <mat-form-field appearance="fill">
          <mat-label>Domicilio</mat-label>
          <input matInput formControlName="domicilio">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Localidad</mat-label>
          <input matInput formControlName="localidad">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Provincia</mat-label>
            <input matInput formControlName="provincia">
          </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>CUIT</mat-label>
          <input matInput formControlName="cuit">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Transporte</mat-label>
          <input matInput formControlName="transporte">
        </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
  
    <!-- Paso 3: Selecciones -->
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Opciones</ng-template>
        <div class="form-row">
            <mat-form-field appearance="fill">
                <mat-label>Condición Fiscal</mat-label>
                <mat-select formControlName="condicionFiscal">
                  <mat-option *ngFor="let c of condicionesFiscales" [value]="c">
                    {{ c.descripcion }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="thirdFormGroup.get('condicionFiscal')?.hasError('required')">
                  La condición fiscal es obligatoria
                </mat-error>
              </mat-form-field>
              
              
        </div>

        <div>
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
  
    <!-- Paso 4: Confirmación -->
    <mat-step>
      <ng-template matStepLabel>Confirmación</ng-template>
      <p>Revisá los datos antes de guardar.</p>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button (click)="guardarCliente()">Guardar</button>
      </div>
    </mat-step>
  
  </mat-vertical-stepper>
  

  <!-- Backdrop con opciones -->
<div class="backdrop" *ngIf="showBackDrop">
    <div class="mensaje-confirmacion animado">
      <span class="icono">✅</span>
      <span>¡Cliente cargado correctamente!</span>
    </div>
  </div>