<div class = "general-container">

  <div class="seleccion-y-colores-container">

    <!-- Selector de Artículo -->
    <div class="seleccion-container">
      <h3>Artículo</h3>
      <mat-form-field class="input-mat" appearance="outline">
        <mat-label>Seleccione un artículo...</mat-label>
        <input type="text"
               #inputArticulos
               [(ngModel)]="articuloSeleccionado"
               matInput
               [formControl]="articuloControl"
               [matAutocomplete]="auto"
               (keydown.enter)="mostrarVariedadColores()"
               (input)="articuloControl.setValue(articuloControl.value.toUpperCase(), { emitEvent: false })">
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let option of filteredArticulos | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  
<!-- Familia -->
<ng-container *ngIf="mostrarFamilias">
  <div class="extras-container familia-container">
    <h3>Familia</h3>
    <mat-form-field appearance="outline" class="input-mat">
      <mat-label>Seleccione familia...</mat-label>
      <mat-select [(value)]="familiaSeleccionada">
        <mat-option *ngFor="let familia of familias" [value]="familia">
          {{ familia.codigo }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-container>

<!-- Medida -->
<ng-container *ngIf="mostrarMedidas">
  <div class="extras-container medida-container">
    <h3>Medida</h3>
    <mat-form-field appearance="outline" class="input-mat">
      <mat-label>Seleccione medida...</mat-label>
      <mat-select [(value)]="medidaSeleccionada">
        <mat-option *ngFor="let medida of medidas" [value]="medida">
          {{ medida.codigo }} ( {{ medida.descripcion }} )
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-container>

<!-- Relleno -->
<ng-container *ngIf="mostrarRelleno">
  <div class="extras-container medida-container">
    <h3>Relleno</h3>
    <mat-form-field appearance="outline" class="input-mat">
      <mat-label>Seleccione relleno...</mat-label>
      <mat-select [(value)]="rellenoSeleccionado">
        <mat-option [value]="0">0</mat-option>
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-container>

    
  
    <!-- Selector de Color -->
    <div class="colores-container" *ngIf="mostrarColores">
      <h3>Color</h3>
      <div class="color-select-con-boton">
        <mat-form-field appearance="outline" class="color-select">
          <mat-label>Seleccione color...</mat-label>
          <mat-select [(value)]="articuloColorIndex">
            <mat-option *ngFor="let color of coloresPosibles; let i = index" [value]="i">
              <span class="color-circle" [ngStyle]="{ 'background-color': color?.colorHexa }"></span>
              {{ color.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <button mat-icon-button color="primary" (click)="onColorAgregar()" [disabled]="articuloColorIndex! < 0">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  
  </div>
  

    <div class="grilla-container">
      <h3  style="text-align: center;">Grilla de Información</h3>
    
    <!--
          <button mat-raised-button class="boton-de-comentario" color="primary" (click)=" agregarComentario() ">
            Agregar fila
          </button>
    -->
          <table mat-table [dataSource]="dataSourceCodigo" multiTemplateDataRows class="mat-elevation-z8">
    
            <!-- Columnas principales -->
            <ng-container matColumnDef="Artículo">
              <th mat-header-cell *matHeaderCellDef>Artículo</th>
              <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
            </ng-container>
          
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripción</th>
              <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
              </ng-container>

          
          
            <!-- Detalle expandible -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div class="detalle-expandido mat-elevation-z2" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
                  <table mat-table [dataSource]="getArticulosParaArticulo(element.codigo)" class="mat-elevation-z1">
          
                    <!-- ARTÍCULO -->
                    <ng-container matColumnDef="Artículo">
                      <th mat-header-cell *matHeaderCellDef>Artículo</th>
                      <td mat-cell *matCellDef="let articulo">
                        <span class="color-circle"
                              [ngStyle]="{ 'background-color': articulo.color?.colorHexa || '#000' }">
                        </span>
                        {{ articulo?.descripcion }}
                        {{ articulo?.color.descripcion }}
                      </td>
                    </ng-container>

                    <!-- HABILITAR -->
                    <ng-container matColumnDef="Habilitado">
                      <th mat-header-cell *matHeaderCellDef>Habilitado</th>
                      <td mat-cell *matCellDef="let articulo">
                        <mat-checkbox [(ngModel)]="articulo.habilitado"></mat-checkbox>
                      </td>
                    </ng-container>                    
          
                    <tr mat-header-row *matHeaderRowDef="articuloColumnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: articuloColumnsToDisplay"></tr>
                  </table>
                </div>
              </td>
            </ng-container>
          
            <!-- FILAS -->
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? undefined : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          
          </table>
          
          
        </div>


        <div>
        <button mat-raised-button color="primary" (click)="actualizarArticuloPrecio(); crearArticulos()" >
          Confirmar
        </button>
      </div>
      


</div>

<!-- Backdrop con opciones -->
<div class="backdrop" *ngIf="showBackDrop">
    <div class="mensaje-confirmacion animado">
      <span class="icono">✅</span>
      <span>¡Se crearon los articulos correctamente!</span>
    </div>
  </div>
