<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="general-container">

<div class="superior-container">
<div class="selector-container">
    <h2>TALLERES</h2>

    <!-- Menú desplegable de clientes -->
    <div class="dropdown">

        <label for="clientes">Seleccionar Taller:</label>
        <select  (change)="seleccionarTaller(); " [(ngModel)]="currentIndex">
            <option >Seleccione un Taller</option>
            <option *ngFor="let taller of talleres" [value]="taller.id" >
                 {{taller.razonSocial}} 
            </option>
          </select>
                    
    </div>

</div>

</div>

<div class="inferior-container">
    <h3>Datos de los pedido producción</h3>

    <div class="datos-comprobante">


        <div>
            <label for="fecha">Fecha de Emisión:</label>
            <input type="date" id="fecha" [(ngModel)]="fechaIngresoMercaderia" (change)="mostrarFecha()">
        </div>
            <div>
                <label for="estado">Estado del Pedido:</label>
                <select id="estado" [(ngModel)]="estadoPedido" (change)="filtroPedidosProduccion()">
                    <option [value]="3" >CREADO</option>
                    <option [value]="2" >EN TALLER</option>
                </select>
            </div>
        

    </div>
</div>

<h3>Grilla de Información</h3>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
  <!-- Celdas manuales por nombre de columna -->
  <td mat-cell *matCellDef="let element">
    <ng-container [ngSwitch]="column">

      <!-- ID - FECHA -->
      <ng-container *ngSwitchCase="'Pedido'">
        {{ element.id }} - {{ formatearFecha(element.fecha) }}
      </ng-container>

      <!-- SUMA CANTIDADES -->
      <ng-container *ngSwitchCase="'Cantidad Total'">
        {{ getCantidadTotal(element.articulos) }}
      </ng-container>

      <!-- SUMA PENDIENTES -->
      <ng-container *ngSwitchCase="'Cantidad Pendiente'">
        {{ sumatoriaCantidadPendienteTotal(element.articulos) }}
      </ng-container>

      <!-- BOTÓN GENERAR PDF -->
      <ng-container *ngSwitchCase="'Generar PDF'">
        <button mat-button (click)="generarPDF()">Generar PDF</button>
      </ng-container>

      <!-- DEFAULT -->
      <ng-container *ngSwitchDefault>
        {{ element[column] }}
      </ng-container>

    </ng-container>
  </td>
</ng-container>
  
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div
          class="example-element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
        >
          <table mat-table [dataSource]="element.isotopes" class="mat-elevation-z8">
            <ng-container matColumnDef="{{ column }}" *ngFor="let column of isotopeColumnsToDisplay">
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
              <td mat-cell *matCellDef="let isotope">{{ isotope[column] }}</td>
            </ng-container>
            <tr mat-row *matRowDef="let isotope; columns: isotopeColumnsToDisplay"></tr>
          </table>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>


