<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="general-container">

<div class="superior-container">
<div class="selector-container" *ngIf="currentCliente">
    <h3>Datos del Cliente</h3>
    <p><strong>Razón Social:</strong> {{ currentCliente!.razonSocial }}</p>
    <p><strong>Domicilio:</strong> {{ currentCliente!.domicilio }}</p>
    <p><strong>Localidad:</strong> {{ currentCliente!.localidad }}</p>
    <p><strong>Teléfono:</strong> {{ currentCliente!.telefono }}</p>
    <p><strong>I.V.A:</strong> {{ currentCliente!.condicionFiscal?.descripcion }}</p>
    <p><strong>CUIT:</strong> {{ currentCliente!.cuit }}</p>

</div>

</div>

<div class="inferior-container">
    <h3>Datos de los pedido producción</h3>

    <div class="datos-comprobante">


        <div>
            <label for="fecha">Fecha de Emisión:</label>
            <input type="date" id="fecha" [(ngModel)]="fechaPresupuesto">
        </div>
            <div>
                <label for="estado">Estado del Pedido:</label>
                <select id="estado" [(ngModel)]="estadoPedido">
                    <option [value]="4" >ARMADO</option>
                    <option [value]="3" >EN TALLER</option>
                    <option [value]="2" >SEPARADO</option>
                    <option [value]="1" >CREADO</option>
                </select>
            </div>
        

    </div>
</div>

<h3>Grilla de Información</h3>
<table mat-table [dataSource]="dataSourceCodigo" multiTemplateDataRows class="mat-elevation-z8">

  <!-- Columnas dinámicas para las filas principales -->
  <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="column === 'Articulo'">{{ element.codigo }}</ng-container>
      <ng-container *ngIf="column === 'Cantidad'">{{ element.cantidadTotal }}</ng-container>
      <ng-container *ngIf="column === 'Descripcion'">{{ element.descripcion }}</ng-container>
    </td>
  </ng-container>

  <!-- Fila expandible con artículos -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="articuloColumnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        
        <!-- Filtra los artículos según el código de la fila -->
        <table mat-table [dataSource]="getArticulosParaArticulo(element.codigo)" class="mat-elevation-z1">

          <!-- COLUMNA ARTÍCULO -->
          <ng-container matColumnDef="Articulo">
            <th mat-header-cell *matHeaderCellDef>Artículo</th>
            <td mat-cell *matCellDef="let presuArt">
              {{ presuArt.articulo.familia.codigo }}/{{ presuArt.articulo.medida.codigo }} {{ presuArt.articulo.color.codigo }}
            </td>
          </ng-container>

          <!-- COLUMNA CANTIDAD -->
          <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let presuArt">
              {{ presuArt.cantidad }}
            </td>
          </ng-container>

          <!-- COLUMNA HAY STOCK -->
          <ng-container matColumnDef="Hay stock">
            <th mat-header-cell *matHeaderCellDef>Hay stock</th>
            <td mat-cell *matCellDef="let presuArt">
              <mat-checkbox [(ngModel)]="presuArt.hayStock"></mat-checkbox>
            </td>
          </ng-container>
          

          <!-- Filas para la tabla expandida -->
          <tr mat-header-row *matHeaderRowDef="articuloColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: articuloColumnsToDisplay"></tr>

        </table>

      </div>
    </td>
  </ng-container>

  <!-- Filas principales -->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="example-element-row" 
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>

  <!-- Fila expandida -->
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>


<div class="boton-generarPDF" >
  <button mat-raised-button color="primary" class="boton-lindo" (click)="generarPedidosProduccion();">
  Generar Pedido
  </button>
</div>

<!-- Modal de Confirmación -->
<div class="modal-overlay" *ngIf="mostrarConfirmacionPDF">
<div class="modal-content">
<h2>¿Deseás generar el PDF?</h2>
<div class="modal-buttons">
  <button mat-raised-button color="primary" (click)="confirmarGenerarPDF(true)">
    Sí, generar PDF
  </button>
  <button mat-raised-button color="warn" (click)="confirmarGenerarPDF(false)">
    No, solo finalizar
  </button>
</div>
</div>
</div>