<div class = "general-container">

  <div class="seleccion-y-colores-container">
      <div class="seleccion-container">
          <h3>Artículo</h3>
  
          <!--COMBO DE PRODUCTOS CON FILTRADO-->
          <div>
              <mat-form-field class="input-mat" appearance="outline">
                  <mat-label>Seleccione un artículo...</mat-label>
                  <input type="text"
                        #inputArticulos
                        [(ngModel)]="articuloSeleccionado"
                        matInput
                        [formControl]="articuloControl"
                        [matAutocomplete]="auto"
                        (keydown.enter)="mostrarVariedadColores()"
                        
                        (input)="articuloControl.setValue(articuloControl.value.toUpperCase(), { emitEvent: false })">
                  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                    <mat-option *ngFor="let option of filteredArticulos | async" [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                
  
            </div>

            
          </div>
          
          <div class="excel-upload-container" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
            <input type="file" id="excelInput" (change)="onArchivoExcelSeleccionado($event)" accept=".xlsx,.xls,.csv" hidden />
            <label for="excelInput" class="excel-drop-zone">
              <mat-icon>cloud_upload</mat-icon>
              <span>Soltá tu Excel acá o hacé clic para buscar</span>
            </label>
          
            <mat-progress-bar *ngIf="cargandoExcel" mode="determinate" [value]="progresoCarga"></mat-progress-bar>
            <p *ngIf="cargaCompleta" class="mensaje-carga">✔ Archivo cargado correctamente</p>
            <p class="texto-progreso">Cargando... {{ progresoCarga }}%</p>
          </div>

  </div>

  
  <div>
    <button mat-raised-button color="primary" class="btn-buscar boton-busqueda-filtrado" (click)="actualizarStock()">Actualizar stock</button>
  </div>


  <div class="grilla-container">
    <h3  style="text-align: center;">Grilla de Información</h3>
  
  <!--
        <button mat-raised-button class="boton-de-comentario" color="primary" (click)=" agregarComentario() ">
          Agregar fila
        </button>
  -->
        <table mat-table [dataSource]="dataSourceCodigo" multiTemplateDataRows class="mat-elevation-z8">
  
          <!-- Columnas principales -->
          <ng-container matColumnDef="Artículo">
            <th mat-header-cell *matHeaderCellDef>Artículo</th>
            <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
          </ng-container>
        
          <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
            </ng-container>

        <ng-container matColumnDef="En corte">
           <th mat-header-cell *matHeaderCellDef>En corte</th>
           <td mat-cell *matCellDef="let element"> {{ element.enCorte }} </td>
          </ng-container>

          <ng-container matColumnDef="En taller">
            <th mat-header-cell *matHeaderCellDef>En taller</th>
            <td mat-cell *matCellDef="let element"> {{ element.enTaller }} </td>
            </ng-container>

          <ng-container matColumnDef="Stock">
            <th mat-header-cell *matHeaderCellDef>Stock</th>
            <td mat-cell *matCellDef="let element">{{ element.stock - element.separado }}</td>
            </ng-container>
  
        
        
          <!-- Detalle expandible -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="detalle-expandido mat-elevation-z2" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed' ">
                <table mat-table [dataSource]="getInfoParaArticulo(element.codigo)" class="mat-elevation-z1">
        
                  <!-- ARTÍCULO -->
                  <ng-container matColumnDef="Artículo">
                    <th mat-header-cell *matHeaderCellDef>Artículo</th>
                    <td mat-cell *matCellDef="let informacion">
                      <span class="color-circle"
                            [ngStyle]="{ 'background-color': informacion.articulo.color?.colorHexa || '#000' }">
                      </span>
                      {{ informacion.articulo?.descripcion }}
                      {{ informacion.articulo?.color.descripcion }}
                    </td>
                  </ng-container>

                  <!-- EN CORTE -->
                  <ng-container matColumnDef="En corte">
                    <th mat-header-cell *matHeaderCellDef>En corte</th>
                    <td mat-cell *matCellDef="let informacion">
                      {{ informacion?.cantidadEnCorteUnitario}}
                    </td>
                  </ng-container>
                  
                  <!-- EN TALLER -->
                  <ng-container matColumnDef="En taller">
                    <th mat-header-cell *matHeaderCellDef>En taller</th>
                    <td mat-cell *matCellDef="let informacion">
                      {{ informacion?.cantidadEnTallerUnitario}}
                    </td>
                  </ng-container> 

                  <!-- STOCK -->
                  <ng-container matColumnDef="Stock">
                    <th mat-header-cell *matHeaderCellDef>Stock</th>
                    <td mat-cell *matCellDef="let informacion">
                      {{ informacion?.stockUnitario - informacion?.cantidadSeparadoUnitario}}
                    </td>
                  </ng-container> 
        
                  <tr mat-header-row *matHeaderRowDef="articuloColumnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: articuloColumnsToDisplay"></tr>
                </table>
              </div>
            </td>
          </ng-container>
        
          <!-- FILAS -->
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? undefined : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        
        </table>
        
        
      </div>

</div>

<!-- Backdrop con opciones -->
<div class="backdrop" *ngIf="showBackDrop">
  <div class="mensaje-confirmacion animado">
    <div>
      <span *ngIf="cantidadArticulosActualizados! > 0">
      <span class="icono">✅</span>
      ¡Se actualizaron los precios de {{ cantidadArticulosActualizados }} artículos!</span>
    </div>
  </div>
</div>

