<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand" routerLink=''>BlumeFront</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="selectBudget" class="nav-link">Presupuestos </a>
      </li>
<!--      <li class="nav-item">
        <a routerLink="clientes" class="nav-link">Clientes </a>
      </li>
-->

      <li class="nav-item">
        <a routerLink="facturacion" class="nav-link">Facturación </a>
      </li>
    
      <li class="nav-item">
        <a routerLink="pedidoProduccion" class="nav-link">Pedido Producción </a>
      </li>
      <li class="nav-item">
        <a routerLink="ingreso" class="nav-link">Ingreso Mercadería </a>
      </li>

      <li class="nav-item">
        <a routerLink="listStock" class="nav-link">Stock </a>
      </li>

      <li class="nav-item">
        <a routerLink="revisionPedidoProduccion" class="nav-link">Revisiones </a>
      </li>


      <li class="nav-item">
        <a routerLink="configuracionArticulo" class="nav-link">Artículos </a>
      </li>

      <li class="nav-item">
        <a routerLink="estadisticas" class="nav-link">Estadísticas </a>
      </li>

      <li class="nav-item">
        <a routerLink="actualizacionPrecios" class="nav-link">Precios </a>
      </li>
      <li class="nav-item">
        <a routerLink="eliminaciones" class="nav-link">Eliminación </a>
      </li>
<!--
      <li class="nav-item">
        <a routerLink="consultasGeneral" class="nav-link">Consultas </a>
      </li>
-->
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
