<h2 mat-dialog-title>Editar artículo genérico</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Descripción</mat-label>
    <input matInput [(ngModel)]="data.descripcion" (ngModelChange)="data.descripcion = $event.toUpperCase()"/>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>

