<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="general-container">

<div class="superior-container">
<div class="selector-container">
    <h2>TALLERES</h2>

    <!-- Menú desplegable de clientes -->
    <div class="dropdown">

        <select id="clientes" (change)="seleccionarTaller(); buscarIngresosXTaller(); inputArticulos.focus()" [(ngModel)]="currentIndex">
            <option >Seleccione un Taller</option>
            <option *ngFor="let taller of talleres let i = index" [value]="i">
              {{taller.razonSocial}} 
            </option>
          </select>
                    
    </div>

</div>


<div class="datosCliente-container" *ngIf="currentTaller">
    <h3>Selecciona una orden de ingreso de:</h3>
    <h3>{{currentTaller.razonSocial}}</h3>

    <select [(ngModel)]="ingresoMercaderiaSeleccionado" (change)="cargarDetallesIngresoMercaderia((ingresoMercaderiaSeleccionado?.id??0)); inputArticulos.focus()"> 
        <option value="" disabled selected>Selecciona una orden de ingreso de:</option>
        <option *ngFor="let ingresoMercaderia of ingresosMercaderiaXTallerFiltrados" [ngValue]="ingresoMercaderia">
            {{ ingresoMercaderia.id }} - {{ getFecha(ingresoMercaderia.fecha!) }}
          </option>

    </select>

  </div>

</div>

<div class="inferior-container">
    <h3>Datos del Ingreso</h3>

    <div class="datos-comprobante">

        <div>
            <mat-form-field class="margen-horizontal">
              <mat-label>Fecha de Emisión:</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="fechaIngresoMercaderia" name="fechaPresupuesto" (change)="filtrarIngresosXFecha()">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>       
          </div>
    </div>
</div>



<div class="presupuesto-container">
  <div class="seleccion-y-colores-container">
    <div class="seleccion-container">
        <div>
            <label>Artículo:</label>
        </div>

        <!--COMBO DE PRODUCTOS CON FILTRADO-->
        <div>
            <mat-form-field class="input-mat" appearance="outline">
                <mat-label>Seleccione un artículo...</mat-label>
                <input type="text"
                      #inputArticulos
                      [(ngModel)]="articuloSeleccionado"
                      matInput
                      [formControl]="articuloControl"
                      [matAutocomplete]="auto"
                      (keydown.enter)="mostrarVariedadColores()"
                      
                      (input)="articuloControl.setValue(articuloControl.value.toUpperCase(), { emitEvent: false })">
                <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                  <mat-option *ngFor="let option of filteredArticulos | async" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              

          </div>

    </div>
<!-- Este DIV aparecerá a la derecha cuando presiones Enter -->
<div class="colores-container" *ngIf="mostrarColores">
  <h3>Detalle de selección</h3>
  <label for="colores">Color</label>

  <mat-form-field appearance="outline" class="full-width">
    <mat-select  #inputColores [(value)]="articuloColorIndex" (selectionChange)="actualizarArticuloSeleccionado()">
      <mat-option *ngFor="let articulo of articulos; let i = index" [value]="i">
        <span class="color-circle" [ngStyle]="{ 'background-color': articulo.color?.colorHexa || '#000' }"></span>
        {{ mostrarColoresDisponibles(articulo) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <label for="cantidades">Cantidad</label>
  <input #inputCantidad type="text" id="Cantidad" size="2" [(ngModel)]="cantProducto"
         [placeholder]="cantidadActualDepoducto()"
         (keydown.enter)="agregarArticulo()">
</div>
</div>



<div class="grilla-container">
  <h3  style="text-align: center;">Grilla de Información</h3>

<!--
      <button mat-raised-button class="boton-de-comentario" color="primary" (click)=" agregarComentario() ">
        Agregar fila
      </button>
-->
      <table mat-table [dataSource]="dataSourceCodigo" multiTemplateDataRows class="mat-elevation-z8">

        <!-- Columnas principales -->
        <ng-container matColumnDef="Artículo">
          <th mat-header-cell *matHeaderCellDef>Artículo</th>
          <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
        </ng-container>
      
        <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">
            {{ getDescripcionBase(element.codigo) }}
            <ng-container *ngFor="let detalle of getArticulosParaArticulo(element.codigo)">
              <span *ngIf="!(detalle.articulo?.codigo || '').startsWith('GEN')">
                {{ (detalle.cantidad || 0) + (detalle.articulo?.color?.codigo || '') }}
              </span>
                    </ng-container>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element">
            {{ getCantidadTotal(getArticulosParaArticulo(element.codigo)) }}
          </td>
        </ng-container>
      
        <ng-container matColumnDef="Borrar">
          <th mat-header-cell *matHeaderCellDef>Borrar</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="borrarFila(element.codigo)" class="boton-borrar">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </ng-container>
      
      
        <!-- Detalle expandible -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="detalle-expandido mat-elevation-z2" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <table mat-table [dataSource]="getArticulosParaArticulo(element.codigo)" class="mat-elevation-z1">
      
                <!-- ARTÍCULO -->
                <ng-container matColumnDef="Artículo">
                  <th mat-header-cell *matHeaderCellDef>Artículo</th>
                  <td mat-cell *matCellDef="let presuArt">
                    <span class="color-circle"
                          [ngStyle]="{ 'background-color': presuArt.articulo.color?.colorHexa || '#000' }">
                    </span>
                    {{ presuArt.articulo?.codigo }}
                    {{ presuArt.articulo?.color.descripcion }}
                  </td>
                </ng-container>
                
      
                <!-- CANTIDAD -->
                <ng-container matColumnDef="Cantidad">
                  <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                  <td mat-cell *matCellDef="let presuArt">{{ presuArt.cantidad }}</td>
                </ng-container>
      
                <!-- BORRAR -->
                <ng-container matColumnDef="Borrar">
                  <th mat-header-cell *matHeaderCellDef>Borrar</th>
                  <td mat-cell *matCellDef="let presuArt">
                    <button (click)="borrarArticulo(presuArt.articulo.codigo,presuArt.articulo.color.codigo)" class="boton-borrar">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="articuloColumnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: articuloColumnsToDisplay"></tr>
              </table>
            </div>
          </td>
        </ng-container>
      
        <!-- FILAS -->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? undefined : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      
      </table>
      
      
    </div>

    <div class="boton-generarPDF" >
        <button mat-raised-button color="primary" class="boton-lindo" (click)="generarOrdenDePedido(); aplicarIngresoAPedidosProduccion();">
         Generar Ingreso
        </button>
      </div>
  </div>

<!-- Backdrop con opciones -->
<div class="backdrop" *ngIf="mostrarConfirmacionPDF">
  <div class="mensaje-confirmacion animado">
    <span class="icono">✅</span>
    <span>¡Se creó el Ingreso de mercadería </span>
  </div>

  <div class="button-container botones-separados">
    <button mat-raised-button class="boton-opcion" color="primary" (click)="confirmarGenerarPDF(true)">PDF Interno</button>
    <button mat-raised-button class="boton-opcion" color="accent" (click)=" generarPDFcontrolPendientes()">PDF Control</button>
    <button mat-raised-button class="boton-opcion" color="warn" (click)="cancelarPDF()">Finalizar</button>
  </div>
</div>


      

<!-- <div class="boton-generarPDF"> <button (click)="generarOrdenDePedido(); generarPDF(); aplicarIngresoAPedidosProduccion()">Generar Pedido</button>  </div> -->
