.general-container {
    display: flex; /* Coloca los elementos en fila */
    flex-direction: column;
    justify-content: space-between; /* Separa los elementos */
    align-items: flex-start; /* Alinea los elementos arriba */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 100%;  /* Aumenta el ancho del contenedor general */
    width: 90%;
    margin:auto;
}

.superior-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

/* Contenedor Inferior */
.inferior-container {
    padding: 20px;
    border-radius: 10px;
    display: flex; /* Para organizar los elementos en fila */
    flex-wrap: wrap; /* Permite que los elementos pasen a otra línea si no caben */
    justify-content: left; /* Distribuye los elementos uniformemente */
    gap: 5%; /* Espaciado entre elementos */
}




.selector-container {
    width: 80%;
    height: 100%;
    margin-left: 0%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del menú desplegable */
.dropdown {
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.datosCliente-container{
    width: 50%;
    margin-right: -60%;
    padding: 5px;
    border-radius: 10px;
}


/* Contenedor del comprobante */
.datos-comprobante {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; /* Espaciado uniforme */
}

/* Cada grupo de elementos */
.datos-comprobante div {
    display: flex;
    align-items: center;
    gap: 5%; /* Espacio entre la etiqueta y el input */
}

/* Ajuste del tamaño de los inputs */
.datos-comprobante input,
.datos-comprobante select {
    width: 75%; /* Ajusta el ancho según necesites */
}

/* Para que el grupo de lista esté alineado con el texto */
.lista-group {
    display: flex;
    align-items: center;
    
}

#vendedor{
    width:200%;
}

.presupuesto-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.seleccion-y-colores-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.seleccion-container{
    width: 50%;
    height: 100%;
    margin-left: 0%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.input-mat {
    width: 100%;
    max-width: 600px; /* o poné el ancho que quieras */
  }
  
.colores-container {
    border: 1px solid #ccc;
    padding: 2%;
    width: 50%;
    border-radius: 10px;

    background-color: #f9f9f9;
  }

  .select-color {
    width: 150px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  .grilla-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

/* Anchos de columnas */
.col-codigo {
    width: 15%; /* 15% del ancho total */
}

.col-descripcion {
    width: 49%; /* 49% del ancho total */
}

.col-cantidad {
    width: 20%; /* 20% del ancho total */
}

.col-borrar {
    width: 7%; /* 7% del ancho total */
}

.col-editar {
    width: 8%; /* 8% del ancho total */
}

/* Estilos adicionales para que las celdas se alineen bien */
th.mat-header-cell, td.mat-cell {
    text-align: center; /* Centra el texto */
    padding: 8px; /* Espacio alrededor del texto */
}


.item-header {
   
    color: black;
    padding: 20px;
    text-align: left;
    font-size: 70%;
    border: 1px solid black; /* Añadir borde negro */
    font-weight: bold;
}

.item {
   
    color: black;
    padding: 20px;
    text-align: left;
    font-size: 70%;
    border: 1px solid black; /* Añadir borde negro */

}

.row {
    display: contents; /* Importante para que las filas usen el diseño de la grilla */
  }

.row-totales {
    display: contents; /* Usamos flexbox para alinear los elementos en fila */
}

.input-pequeño{
    width: 60%;
}

.boton-busqueda-articulo {
    margin-top: 10px;
}

.boton-generarPDF {
    margin-top: 10px;
    display: inline-block; /* Asegura que los botones se alineen horizontalmente */
}

.boton-borrar {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
}

.boton-borrar:hover {
    text-decoration: underline;
}

.boton-borrar i {
    margin-right: 5px;
}

/* Capa de fondo borroso */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column; /* Establece los elementos en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    z-index: 10;
  }
  
  /* Modal */
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* oscurece */
    backdrop-filter: blur(8px); /* desenfoque del fondo */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .modal-content {
    background: #ffffff;
    padding: 2rem 3rem;
    border-radius: 12px;
    text-align: center;
    width: 40%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  
  .modal-buttons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .checklist-label {
    font-weight: bold;
    margin-top: 10px; /* Espacio entre los radio buttons */
    display: flex; /* Usamos Flexbox para alinear los elementos */
    align-items: center; /* Alinea el radio button con el texto */
    justify-content: center; /* Centra los elementos dentro de cada label */
  }

  input[type="radio"] {
    margin-right: 5%; /* Espacio entre el radio button y el texto */
  }

  .checklist-container {
    text-align: center; /* Centra el contenido */
  }

  .boton-lindo {
    font-size: 90%;
    padding: 18% 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .boton-lindo:hover {
    background-color: #020749;
    transform: scale(1.05);
  }
  
  .boton-lindo mat-icon {
    margin-right: 8%;
  }
  
  .color-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    border: 1px solid #000000; /* contorno gris oscuro */
  }