<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="general-container">

<div class="superior-container">
<div class="selector-container">
    <h2>TALLERES</h2>

    <!-- Menú desplegable de clientes -->
    <div class="dropdown">

        <label for="clientes">Seleccionar Taller:</label>
        <select  (change)="seleccionarTaller(); buscarIngresosXTaller()" [(ngModel)]="currentIndex">
            <option >Seleccione un Taller</option>
            <option *ngFor="let taller of talleres" [value]="taller.id" >
                 {{taller.razonSocial}} 
            </option>
          </select>
                    
    </div>

</div>


<div class="datosCliente-container" *ngIf="currentTaller">
    <h3>Selecciona una orden de ingreso de:</h3>
    <h3>{{currentTaller.razonSocial}}</h3>

    <select [(ngModel)]="ingresoMercaderiaSeleccionado" (change)="cargarDetallesIngresoMercaderia((ingresoMercaderiaSeleccionado?.id??0))"> 
        <option value="" disabled selected>Selecciona una orden de ingreso de:</option>
        <option *ngFor="let ingresoMercaderia of ingresosMercaderiaXTaller" [ngValue]="ingresoMercaderia">
            {{ ingresoMercaderia.id }} - {{ getFecha(ingresoMercaderia.fecha!) }}
          </option>

    </select>

  </div>

</div>

<div class="inferior-container">
    <h3>Datos del Ingreso</h3>

    <div class="datos-comprobante">


        <div>
            <label for="fecha">Fecha de Emisión:</label>
            <input type="date" id="fecha" [(ngModel)]="fechaIngresoMercaderia" (change)="mostrarFecha()"> 
        </div>

    </div>
</div>



<div class="presupuesto-container">
    <div class="seleccion-y-colores-container">
    <div class="seleccion-container">
        <div>
            <label>Artículo:</label>
            <input type="text" id="codigoArticulo" [(ngModel)]="codigoArticulo" (ngModelChange)="convertirAMayuscula()" (keydown.enter)="mostrarVariedadColores()" onKeyUp="javascript:this.value=this.value.toUpperCase();">
        </div>

        <!--COMBO DE PRODUCTOS CON FILTRADO-->
        <div >
            <mat-form-field>
            <mat-label>Selecciona una opción</mat-label>
            <input type="text" [(ngModel)]="articuloSeleccionado"  matInput [formControl]="myControl" [matAutocomplete]="auto" (keydown.enter)="seleccionarArticulo()"     (input)="myControl.setValue(myControl.value.toUpperCase(), { emitEvent: false })">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field> 

   </div>

    </div>
<!-- Este DIV aparecerá a la derecha cuando presiones Enter -->
    <div class="colores-container" *ngIf="mostrarColores">
        <h3>Detalle de selección</h3>
        <label for="colores">Color:</label> 
    <select class="select-color" [(ngModel)]="articuloColorIndex" (click)="actualizarArticuloSeleccionado()">  

        <option *ngFor="let articulo of articulos ; let i = index"  [value]="i" >

                {{mostrarColoresDisponibles(articulo)}} 

            
       </option>
    </select>        
        <!-- Input para mostrar el valor seleccionado -->
        <label for="cantidades">Cantidad:</label>
        <input type="text" id="Cantidad" size="2" [(ngModel)]="cantProducto" [placeholder]= "cantidadActualDepoducto()"  (keydown.enter)="agregarArticulo()">
    </div>

</div>

    <div class="grilla-container">
        <h3>Grilla de Información</h3>
        <div class="grilla">
            <div class="item-header">CÓDIGO</div>
            <div class="item-header">DESCRIPCIÓN</div>
            <div class="item-header">CANTIDAD</div>
            <div class="item-header">BORRAR</div>
            <div class="item-header">EDITAR</div>


            <div *ngFor="let entry of mapaPresupuestoArticulos | keyvalue" class="row">
                <div class="item">{{ entry.key }}</div>
                
                <div class="item">{{entry.value[0].articulo?.familia?.descripcion + '' + entry.value[0].articulo?.medida?.descripcion}}
                 <ng-container *ngFor="let detalle of entry.value">
                     {{ (detalle.cantidadActual || 0) + (detalle.articulo?.color?.codigo || '') }}
                  </ng-container>
                </div>

                <div class="item">

                    <ng-container  entry.value>
                        {{ getCantidadTotal(entry.value)  }}
                     </ng-container>
                    
                </div>

                <div class="item">
                    <button  (click)="borrarFila(entry.key)" class="boton-borrar">
                        <i class="fas fa-trash-alt"></i> 
                    </button>
                </div>    

                <div class="item">
                    <button  (click)="editarFila(entry.key)" class="boton-borrar">
                        <i class="fas fa-edit" style="color: #003366;"></i> 
                    </button>
                </div>    

    </div>


<div class="boton-generarPDF"> <button (click)="generarOrdenDePedido(); generarPDF(); aplicarIngresoAPedidosProduccion()">Generar Pedido</button>  </div>

