<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="general-container">

<div class="superior-container">
<div class="selector-container">
    <h2>Clientes</h2>

    <!-- Menú desplegable de clientes -->
    <div class="dropdown">
        <div>
            <label for="descuento">Numero de Cliente</label>
            <input type="text" id="numCliente" [(ngModel)]="numCliente" (keydown.enter)="seleccionarXnumeroCliente()">
        </div>


        <label for="clientes">Seleccionar Cliente</label>

        <mat-form-field class="input-mat-cliente" appearance="outline">
          <mat-label>Seleccione un cliente...</mat-label>
          <input type="text"
                 matInput
                 [formControl]="clienteControl"
                 [matAutocomplete]="autoCliente"
                 (input)="clienteControl.setValue(clienteControl.value?.toUpperCase(), { emitEvent: false })"s>
            <mat-autocomplete #autoCliente="matAutocomplete" autoActiveFirstOption (optionSelected)="seleccionarCliente();">
            <mat-option *ngFor="let c of filteredClientes | async" [value]="c.razonSocial">
              {{ c.razonSocial }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
                    
    </div>

</div>


<div class="datosCliente-container" *ngIf="currentCliente">
  <h3>Selecciona un presupuesto de:</h3>
  <h3>{{currentCliente.razonSocial}}</h3>

  <mat-form-field>
    <mat-label>Presupuesto</mat-label>
    <mat-select [(value)]="idPresupuestoACargar" (selectionChange)="cargarDetallesPresupuesto(idPresupuestoACargar!)">
      <mat-option *ngFor="let presupuesto of presupuestosXCliente" [value]="presupuesto?.id ?? null">
        {{ presupuesto ? (presupuesto.id + ' -- ' + formatearFecha(presupuesto.fecha)) : 'None' }}
      </mat-option>   
    </mat-select>
  </mat-form-field>
  
 </div>
</div>



<div class="inferior-container">
    <h3>Datos del Comprobante</h3>

    <div class="datos-comprobante">
      <div class="lista-group">
        <label>Precio Lista:</label>
        <input type="radio" name="lista" id="lista1"> <label for="lista1">Lista1</label>
        <input type="radio" name="lista" id="lista2"> <label for="lista2">Lista2</label>
      </div>

      <mat-checkbox [(ngModel)]="eximirIVA" (change)="onEximirIVAChange()">
        Eximir IVA
      </mat-checkbox>
    
      <mat-checkbox [(ngModel)]="generaPresuBorrados">
        Generar presupuesto
      </mat-checkbox>

      <!-- Forzar salto de línea -->
<div style="width: 100%; height: 0;"></div>
    
      <div>
        <mat-form-field class="combo-datos-fecha-emision">
          <mat-label>Fecha de Emisión:</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fechaFactura" name="fechaPresupuesto">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    
      <mat-form-field>
        <mat-label>Tipo de Factura</mat-label>
        <mat-select [(ngModel)]="tipoFactura" name="tipoFactura">
          <mat-option value="A">Factura A</mat-option>
          <mat-option value="B">Factura B</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Punto de venta</mat-label>
        <mat-select [(ngModel)]="puntoDeVenta" name="puntoDeVenta">
          <mat-option *ngFor="let numero of puntosDeVentasPosibles" [value]="numero">
            {{ numero }}
          </mat-option>    
        </mat-select>
      </mat-form-field>
    

    </div>
    
</div>



<div class="presupuesto-container">
    <div class="seleccion-y-colores-container">
      <div class="seleccion-container">
        <div>
            <label>Artículo:</label>
        </div>

        <!--COMBO DE PRODUCTOS CON FILTRADO-->
        <div >
            <mat-form-field class="input-mat-articulo" appearance="outline">
                <mat-label>Seleccione un artículo...</mat-label>
                <input type="text"
                      #inputArticulos
                      [(ngModel)]="articuloSeleccionado"
                      matInput
                      [formControl]="articuloControl"
                      [matAutocomplete]="auto"
                      (keydown.enter)="mostrarVariedadColores()"
                      
                      (input)="articuloControl.setValue(articuloControl.value.toUpperCase(), { emitEvent: false })">
                <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                  <mat-option *ngFor="let option of filteredArticulos | async" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
          </div>
    </div>
<!-- Este DIV aparecerá a la derecha cuando presiones Enter -->
<div class="colores-container" *ngIf="mostrarColores">
  <h3>Detalle de selección</h3>
  <label for="colores">Color</label>

  <mat-form-field appearance="outline" class="full-width">
    <mat-select  #inputColores [(value)]="articuloColorIndex" (selectionChange)="actualizarArticuloSeleccionado()">
      <mat-option *ngFor="let articulo of articulos; let i = index" [value]="i">
        <span class="color-circle" [ngStyle]="{ 'background-color': articulo.color?.colorHexa || '#000' }"></span>
        {{ mostrarColoresDisponibles(articulo) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <label for="cantidades">Cantidad</label>
  <input #inputCantidad type="text" id="Cantidad" size="2" [(ngModel)]="cantProducto"
         [placeholder]="cantidadActualDepoducto()"
         (keydown.enter)="agregarArticulo(); actualizarTotales()">
</div>

</div>

<div class="grilla-container">
  <h3  style="text-align: center;">Grilla de Información</h3>
  <button mat-raised-button class="boton-de-comentario" color="primary" (click)=" agregarComentario() ">
    Agregar fila
  </button>

  <table mat-table [dataSource]="dataSourceCodigo" multiTemplateDataRows class="mat-elevation-z8">

    <!-- Columnas principales -->
    <ng-container matColumnDef="Artículo">
      <th mat-header-cell *matHeaderCellDef>Artículo</th>
      <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
    </ng-container>
  
    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">
        {{ getDescripcionBase(element.codigo) }}
        <ng-container *ngFor="let detalle of getArticulosParaArticulo(element.codigo)">
          <span *ngIf="!(detalle.articulo?.codigo || '').startsWith('GEN')">
            {{ (detalle.cantidad || 0) + (detalle.articulo?.color?.codigo || '') }}
          </span>
                </ng-container>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let element">
        {{ getCantidadTotal(getArticulosParaArticulo(element.codigo)) }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Precio Unitario">
      <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
      <td mat-cell *matCellDef="let element">
        {{ calcularPrecioConDescuento(getArticulosParaArticulo(element.codigo)[0]) | number:'1.2-2' }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Precio Total">
      <th mat-header-cell *matHeaderCellDef>Precio Total</th>
      <td mat-cell *matCellDef="let element">
        {{
          getCantidadTotal(getArticulosParaArticulo(element.codigo)) *
          calcularPrecioConDescuento(getArticulosParaArticulo(element.codigo)[0])
          | number:'1.2-2'
        }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Descuento">
      <th mat-header-cell *matHeaderCellDef>Descuento</th>
      <td mat-cell *matCellDef="let element">
        <div class="input-con-sufijo">
          <input type="text"
                 [(ngModel)]="descuentos[element.codigo]"
                 (keydown.enter)="aplicarDescuentoUnitario(element.codigo); actualizarTotales()"
                 (click)="$event.stopPropagation()"
                 class="input-pequeño alineado-derecha">
          <span class="sufijo">%</span>
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Borrar">
      <th mat-header-cell *matHeaderCellDef>Borrar</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="borrarFila(element.codigo)" class="boton-borrar">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </ng-container>
  
  
    <!-- Detalle expandible -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="detalle-expandido mat-elevation-z2" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
          <table mat-table [dataSource]="getArticulosParaArticulo(element.codigo)" class="mat-elevation-z1">
  
            <!-- ARTÍCULO -->
            <ng-container matColumnDef="Articulo">
              <th mat-header-cell *matHeaderCellDef>Artículo</th>
              <td mat-cell *matCellDef="let presuArt">
                <span class="color-circle"
                      [ngStyle]="{ 'background-color': presuArt.articulo.color?.colorHexa || '#000' }">
                </span>
                {{ presuArt.articulo?.codigo }}
                {{ presuArt.articulo?.color.descripcion }}
              </td>
            </ng-container>
            
  
            <!-- CANTIDAD -->
            <ng-container matColumnDef="Cantidad">
              <th mat-header-cell *matHeaderCellDef>Cantidad</th>
              <td mat-cell *matCellDef="let presuArt">{{ presuArt.cantidad }}</td>
            </ng-container>
  
            <!-- BORRAR -->
            <ng-container matColumnDef="Borrar">
              <th mat-header-cell *matHeaderCellDef>Borrar</th>
              <td mat-cell *matCellDef="let presuArt">
                <button (click)="borrarArticulo(presuArt.articulo.codigo,presuArt.articulo.color.codigo)" class="boton-borrar">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="articuloColumnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: articuloColumnsToDisplay"></tr>
          </table>
        </div>
      </td>
    </ng-container>
  
    <!-- FILAS -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? undefined : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  
  </table>
  
  
</div>
  

  <div class="grilla-totales">
    <table mat-table [dataSource]="totalesData" class="mat-elevation-z8 tabla-totales">
  
      <!-- Columna: Descripción -->
      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef class="col-desc">DESCRIPCIÓN</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>
  
      <!-- Columna: Monto -->
      <ng-container matColumnDef="Monto">
        <th mat-header-cell *matHeaderCellDef class="col-monto">MONTO</th>
        <td mat-cell *matCellDef="let element" class="text-right">{{ element.monto | number:'1.2-2' }}</td>
      </ng-container>
  
      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="totalesColumnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: totalesColumnsToDisplay"></tr>
    </table>
  
    <!-- Input de descuento general -->
    <div class="descuento-total">
      <mat-form-field appearance="outline" class="input-descuento-total">
        <mat-label>Descuento general (%)</mat-label>
        <input matInput type="number" [(ngModel)]="descTotal" (keydown.enter)="actualizarTotales()" />
      </mat-form-field>
    </div>
  </div>
  
    <!-- Botón principal para generar presupuesto  -->
    <div class="boton-generarPDF" *ngIf="mostrarBotonGuardar">
      <button mat-raised-button color="primary" class="boton-lindo" (click)="generarFactura()">
        Generar Factura
      </button>
    </div>

<!-- Backdrop con opciones  --> 
    <div class="backdrop" *ngIf="showBackDrop">
      <div class="mensaje-confirmacion animado">
        <span class="icono">✅</span>
        <span>¡Se creó la factura N° {{ idFacturaActual }} para el cliente {{ currentCliente?.razonSocial }}!</span>
      </div>

      <div class="button-container botones-separados">
        <button mat-raised-button class="boton-opcion" color="primary" (click)="presupuestoCliente = true; generarPDF()">PDF Cliente</button>
        <button mat-raised-button class="boton-opcion" color="accent" (click)="presupuestoCliente = false; generarPDF()">PDF Interno</button>
        <button mat-raised-button class="boton-opcion" color="warn" (click)="cancelarPDF()">Finalizar</button>
      </div>
    </div>

    
  </div>
</div>

