<div class="general-container">

<div class="superior-container">
<div class="selector-container">
    <h2>Clientes</h2>

    <!-- Menú desplegable de clientes -->
    <div class="dropdown">
        <div>
            <label for="descuento">Numero de Cliente:</label>
            <input type="text" id="numCliente" [(ngModel)]="numCliente" (keydown.enter)="seleccionarXnumeroCliente()">
        </div>


        <label for="clientes">Seleccionar Cliente:</label>
        <select  (change)="seleccionarCliente()" [(ngModel)]="currentIndex">
            <option >Seleccione un cliente</option>
            <option *ngFor="let cliente of clientes" [value]="cliente.id" >
                 {{cliente.razonSocial}} 
            </option>
          </select>
                    
    </div>

</div>


<div class="datosCliente-container" *ngIf="currentCliente">
    <h3>Datos del Cliente</h3>
    <p><strong>Razón Social:</strong> {{ currentCliente.razonSocial }}</p>
    <p><strong>Domicilio:</strong> {{ currentCliente.domicilio }}</p>
    <p><strong>Localidad:</strong> {{ currentCliente.localidad }}</p>
    <p><strong>Teléfono:</strong> {{ currentCliente.telefono }}</p>
    <p><strong>I.V.A:</strong> {{ currentCliente.condicionFiscal?.descripcion }}</p>
    <p><strong>CUIT:</strong> {{ currentCliente.cuit }}</p>
  </div>
</div>



<div class="inferior-container">
    <h3>Datos del Comprobante</h3>

    <div class="datos-comprobante">
        <div class="lista-group">
            <label>Precio Lista:</label>
            <input type="radio" name="lista" id="lista1"> <label for="lista1">Lista1</label>
            <input type="radio" name="lista" id="lista2"> <label for="lista2">Lista2</label>
        </div>

        <div>
            <label for="fecha">Fecha de Emisión:</label>
            <input type="date" id="fecha">
        </div>

        <div>
            <label for="descuento">Descuento:</label>
            <input type="number" id="descuento" size="5"> %
        </div>

        <div>
            <label for="vendedor">Vendedor:</label>
            <select id="vendedor">
                <option>01 - Archi - Miriam</option>
                <option>02 - Juan - Pedro</option>
            </select>
        </div>

        <div>
            <input type="checkbox" id="iva">
            <label for="iva">Eximir pago de IVA (Ley 24.331)</label>
        </div>

        <div>
            <button class="boton-siguiente" type="button" (click)="listarClientes()">Siguiente</button>
        </div>

    </div>
</div>



<div class="presupuesto-container">
    <div class="seleccion-container">
        <div>
            <label>Artículo:</label>
            <input type="text" (keydown.enter)="mostrarVariedadColores()">
        </div>
    </div>
<!-- Este DIV aparecerá a la derecha cuando presiones Enter -->
    <div class="colores-container" *ngIf="mostrarColores">
        <h3>Detalle de selección</h3>
        <label for="colores">Color:</label>
    <select class="select-color">
      <option value="Rojo" style="background-color: red; font-weight: bold;">Rojo</option>
      <option value="Verde" style="background-color: green; font-weight: bold;">Verde</option>
      <option value="Azul" style="background-color: blue; font-weight: bold;">Azul</option>
      <option value="Amarillo" style="background-color: yellow; font-weight: bold;">Amarillo</option>
    </select>        
        <!-- Input para mostrar el valor seleccionado -->
        <label for="cantidades">Cantidad:</label>
        <input type="text" id="Cantidad" size="2">
    </div>

</div>


</div>