.general-container {
    display: flex; /* Coloca los elementos en fila */
    flex-direction: column;
    justify-content: space-between; /* Separa los elementos */
    align-items: flex-start; /* Alinea los elementos arriba */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 100%;  /* Aumenta el ancho del contenedor general */
    width: 90%;
    margin:auto;
}

.superior-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

/* Contenedor Inferior */
.inferior-container {
    padding: 20px;
    border-radius: 10px;
    display: flex; /* Para organizar los elementos en fila */
    flex-wrap: wrap; /* Permite que los elementos pasen a otra línea si no caben */
    justify-content: left; /* Distribuye los elementos uniformemente */
    gap: 5%; /* Espaciado entre elementos */
}




.selector-container {
    width: 80%;
    height: 100%;
    margin-left: 0%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del menú desplegable */
.dropdown {
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.datosCliente-container{
    width: 50%;
    margin-right: -60%;
    padding: 5px;
    border-radius: 10px;
}


/* Contenedor del comprobante */
.datos-comprobante {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; /* Espaciado uniforme */
}

/* Cada grupo de elementos */
.datos-comprobante div {
    display: flex;
    align-items: center;
    gap: 5%; /* Espacio entre la etiqueta y el input */
}

/* Ajuste del tamaño de los inputs */
.datos-comprobante input,
.datos-comprobante select {
    width: 75%; /* Ajusta el ancho según necesites */
}

/* Para que el grupo de lista esté alineado con el texto */
.lista-group {
    display: flex;
    align-items: center;
    
}

#vendedor{
    width:200%;
}

.presupuesto-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.seleccion-y-colores-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.seleccion-container{
    width: 30%;
    height: 100%;
    margin-left: 0%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.colores-container {
    border: 1px solid #ccc;
    padding: 2%;
    width: 50%;
    border-radius: 10px;

    background-color: #f9f9f9;
  }

  .select-color {
    width: 150px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  .grilla-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.grilla {
    display: grid;
    grid-template-columns: 15% 55% 12% 15%; /* Tamaños fijos para cada celda */
    grid-template-rows: auto; /* Alturas para filas específicas */

}

.item {
   
    color: black;
    padding: 20px;
    text-align: left;
    font-size: 100%;
    border: 1px solid black; /* Añadir borde negro */

}