<div class="general-container">

<div class="superior-container">
<div class="selector-container">
    <h2>Clientes</h2>

    <!-- Menú desplegable de clientes -->
    <div class="dropdown">
        <div>
            <label for="descuento">Numero de Cliente:</label>
            <input type="text" id="numCliente" (change)="buscarxNumeroCliente()">
        </div>
        <label for="clientes">Seleccionar Cliente:</label>
        <select  (change)="seleccionarCliente()" [(ngModel)]="currentIndex">
            <option >Seleccione un cliente</option>
            <option *ngFor="let cliente of clientes" [value]="cliente.id" >
                 {{cliente.razonSocial}} 
            </option>
          </select>
                    
    </div>

</div>


<div class="datosCliente-container" *ngIf="currentCliente">
    <h3>Datos del Cliente</h3>
    <p><strong>Razón Social:</strong> {{ currentCliente.razonSocial }}</p>
    <p><strong>Domicilio:</strong> {{ currentCliente.domicilio }}</p>
    <p><strong>Localidad:</strong> {{ currentCliente.localidad }}</p>
    <p><strong>Teléfono:</strong> {{ currentCliente.telefono }}</p>
    <p><strong>I.V.A:</strong> {{ currentCliente.iva }}</p>
    <p><strong>CUIT:</strong> {{ currentCliente.cuit }}</p>
  </div>
</div>



<div class="inferior-container">
    <h3>Datos del Comprobante</h3>

    <div class="datos-comprobante">
        <div class="lista-group">
            <label>Precio Lista:</label>
            <input type="radio" name="lista" id="lista1"> <label for="lista1">Lista1</label>
            <input type="radio" name="lista" id="lista2"> <label for="lista2">Lista2</label>
        </div>

        <div>
            <label for="fecha">Fecha de Emisión:</label>
            <input type="date" id="fecha">
        </div>

        <div>
            <label for="descuento">Descuento:</label>
            <input type="text" id="descuento" size="5"> %
        </div>

        <div>
            <label for="vendedor">Vendedor:</label>
            <select id="vendedor">
                <option>01 - Archi - Miriam</option>
                <option>02 - Juan - Pedro</option>
            </select>
        </div>

        <div>
            <input type="checkbox" id="iva">
            <label for="iva">Eximir pago de IVA (Ley 24.331)</label>
        </div>

        <div>
            <button class="boton-siguiente" type="button" (click)="listarClientes()">Siguiente</button>
        </div>

    </div>
</div>




</div>